<%= form_with(model: @community_neighbors, local: true ) do |form| %>
  <p>
    <%= form.label :Nombre %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :Apellido %><br>
    <%= form.text_field :surname %>
  </p>
  <p>
    <%= form.label :Teléfono %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :"E-mail" %><br>
    <%= form.text_field :mail %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
