<h2>Edita un vecino</h2>
<%= form_with model: [ @community, @community.community_neighbors.build ], local: true do |form| %>
  <p>
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :Apellido %>
    <%= form.text_field :surname %>
  </p>
  <p>
    <%= form.label :Teléfono %>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :"E-mail" %>
    <%= form.text_field :mail %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
