<p>
  <strong>Nombre:</strong>
  <%= @community.community_name %>
</p>

<p>
  <strong>País:</strong>
  <%= @community.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @community.province_region %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @community.municipality_location %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @community.community_status  %>
</p>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
    <th>E-Mail</th>
    <th>Estado</th>
    <th colspan="4"></th>
  </tr>
<h2>Vecinos de la comunidad</h2>
<% @community.community_neighbors.each do |community_neighbor| %>
<tr>
    <th><%= community_neighbor.name %></th>
    <th><%= community_neighbor.surname %></th>
    <th><%= community_neighbor.phone %></th>
    <th><%= community_neighbor.mail %></th>
    <th><%= community_neighbor.status %></th>


<th><th><%= link_to 'Editar vecino', edit_community_community_neighbor_path(@community, community_neighbor ) %><th>
</tr>
<% end %>
</table>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
    <th>E-Mail</th>
    <th>Estado</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
    <th colspan="4"></th>
  </tr>
<h2>Coordinadores de la comunidad</h2>
<% @community.community_coordinators.each do |community_coordinator| %>
<tr>
    <th><%= community_coordinator.name %></th>
    <th><%= community_coordinator.surname %></th>
    <th><%= community_coordinator.phone %></th>
    <th><%= community_coordinator.mail %></th>
    <th><%= community_coordinator.status %></th>
    <th><%= community_coordinator.start_date %></th>
    <th><%= community_coordinator.end_date %></th>


<th><th><%= link_to 'Editar vecino', edit_community_community_coordinator_path(@community, community_coordinator ) %><th>
</tr>
<% end %>
</table>



<%= render 'community_neighbors/form' %>

<%= render 'community_coordinators/form' %>



<td><%= link_to 'Editar', edit_community_path(@community) %></td>
<td><%= link_to 'Borrar', community_path(@community),
        method: :delete, data: { confirm: "¿Estás seguro de borrar?"}%></td>
<td><%= link_to 'Volver', communities_path %></td>
